* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/ep_naturalwhite.png");
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header-container {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 30px;
}

#heading {
    float: left;
}

#name {
    clear: both;
    background: #4aaaa5;
    color: #ffffff;
    padding: 25px;
}

/* ===== NAVBAR ===== */
ul {
    background-color: white;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    background-color: #ffffff;
    height: 97px;
    margin-top: -24px;
    margin-bottom: -5px;
    width: 975px;
}

li {
    float: right;
}

li a {
    margin: 35px 0;
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #4aaaa5;
}

/* ============================================== */

.container {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
    border: 1px solid #dddddd;
}

#main-content {
    background-color: #ffffff;
    padding: 0 20px;
    float: left;
    line-height: 1.5em;
    border: 1px solid #dddddd;
    margin-bottom: 80px;
}

#content-image {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px 20px 20px 0;
}

p {
    margin-top: 20px;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    border-top: 5px solid #4aaaa5;
    clear: both;
}

/* ===== CONTACT FORM ===== */
form {
    width: 918px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 25px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #777777;
}

textarea {
    height: 200px;
}

/* ===== PORTFOLIO ===== */
.portfolio-image {
    width: 25%;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

.work {
    width: 300px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 10px 25px 25px 0;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: .8;
}

.work h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}